
﻿@{
    ViewData["Title"] = "Home Page";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div id="userinfo" class="row">
        <label for="username">Please input your username</label>
        <input type="text" class="form-control" id="username" name="username" autocomplete="off" />
        <button type="button" class="btn btn-outline-primary" onclick="SetUsername();">Join</button>
    </div>
    <div class="row clearfix" id="messagearea" style="display:none;">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0" id="usernamearea"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0" id="messageList">
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">

                                <button type="button" id="sendButton" class="input-group-text"> <i class="fa fa-send"></i></button>
                            </div>
                            <input type="text" class="form-control" id="message" autocomplete="off" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="messagearea" class="row" style="display:none;">
            <div>Joined as: <b><span id="usernamearea">Not Set</span></b>></div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <ul id="messageList">
                    </ul>
                </div>
            </div>
            <hr />
            <input type="text" id="message" autocomplete="off" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>*@
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var username = "";

    document.getElementById("sendButton").disabled = true;

    connection.on("RecieveMessage", function (user, message) {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        //var encodeMsg = user + " says: " + msg;
        //var li = document.createElement("li");
        //li.textContent = encodeMsg;
        var messageContent = '<li class="clearfix">' +
            '<div class="message-data text-right">' +
            '<span class="message-data-time">' + user + '</span>' +
            '</div>' +
            '<div class="message other-message float-right"> ' + msg + '</div>' +
            '</li>';
        document.getElementById("messageList").innerHTML += messageContent;

    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("message").value;
        connection.invoke("SendMessage", username, message).then(function () {
            document.getElementById("message").value = "";
        }).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

    function SetUsername() {
        var usernameinput = document.getElementById("username").value;
        if (usernameinput === "") {
            alert("Please enter your username.");
            return;
        }
        username = usernameinput;

        document.getElementById("userinfo").style.display = 'none';
        document.getElementById("messagearea").style.display = 'block';
        document.getElementById("usernamearea").innerText = usernameinput;
    }
</script>
